@charset "UTF-8";
/* line 4, 1-tools/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, 1-tools/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 3, 1-tools/refills/_refills.scss */
.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0; }
  /* line 20, 1-tools/bourbon/addons/_clearfix.scss */
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table; }
  /* line 20, 1-tools/refills/_refills.scss */
  .accordion-tabs-minimal .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      /* line 20, 1-tools/refills/_refills.scss */
      .accordion-tabs-minimal .tab-header-and-content {
        display: inline; } }
  /* line 28, 1-tools/refills/_refills.scss */
  .accordion-tabs-minimal .tab-link {
    background-color: transparent;
    display: block;
    padding-right: 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      /* line 28, 1-tools/refills/_refills.scss */
      .accordion-tabs-minimal .tab-link {
        border-top: 0;
        display: inline-block; } }
    /* line 39, 1-tools/refills/_refills.scss */
    .accordion-tabs-minimal .tab-link:hover {
      color: #477dca; }
    /* line 43, 1-tools/refills/_refills.scss */
    .accordion-tabs-minimal .tab-link:focus {
      outline: none; }
    /* line 47, 1-tools/refills/_refills.scss */
    .accordion-tabs-minimal .tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 40em) {
        /* line 47, 1-tools/refills/_refills.scss */
        .accordion-tabs-minimal .tab-link.is-active {
          margin-bottom: -1px; } }
  /* line 56, 1-tools/refills/_refills.scss */
  .accordion-tabs-minimal .tab-content {
    display: none;
    width: 100%; }
    @media screen and (min-width: 40em) {
      /* line 56, 1-tools/refills/_refills.scss */
      .accordion-tabs-minimal .tab-content {
        float: left; } }

/* line 68, 1-tools/refills/_refills.scss */
.tooltip-item {
  display: inline-block;
  position: relative;
  text-align: center; }
  /* line 86, 1-tools/refills/_refills.scss */
  .tooltip-item:focus, .tooltip-item:hover .tooltip {
    opacity: 1;
    visibility: visible; }
  /* line 92, 1-tools/refills/_refills.scss */
  .tooltip-item .tooltip {
    position: absolute;
    right: 0;
    bottom: 3em;
    left: 0;
    background-color: white;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px silver;
    color: #333;
    font-size: 0.4em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 6em;
    opacity: 0;
    padding: .3em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 10; }
    /* line 110, 1-tools/refills/_refills.scss */
    .tooltip-item .tooltip p {
      color: #333;
      line-height: 1.5em;
      margin: 0; }
    /* line 116, 1-tools/refills/_refills.scss */
    .tooltip-item .tooltip::after {
      position: absolute;
      right: 0;
      left: 0;
      border: 8px solid transparent;
      bottom: -1.3em;
      color: white;
      content: "▼";
      font-size: 1.1em;
      margin-left: -8px;
      text-align: center;
      text-shadow: 0 2px 2px silver; }

/* line 135, 1-tools/refills/_refills.scss */
.parallax-window {
  max-height: 40em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 20px 0; }

/* line 144, 1-tools/refills/_refills.scss */
.parallax-static-content {
  color: #9A9A8A;
  padding: 20em 0;
  position: relative;
  z-index: 0; }

/* line 151, 1-tools/refills/_refills.scss */
.parallax-background {
  background: url("/assets/img/salon-outside.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: 48em;
  left: 0;
  position: absolute;
  top: -13.3333333333em;
  width: 100%; }

/* line 177, 1-tools/refills/_refills.scss */
.expander .expander-trigger {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  text-decoration: underline;
  user-select: none; }
/* line 195, 1-tools/refills/_refills.scss */
.expander .expander-content p {
  color: #fff;
  line-height: 1.5em; }
/* line 207, 1-tools/refills/_refills.scss */
.expander .expander-hidden + .expander-content {
  display: none; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* line 3, 1-tools/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 9, 1-tools/_normalize.scss */
body {
  margin: 0; }

/* line 13, 1-tools/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 29, 1-tools/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 37, 1-tools/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 42, 1-tools/_normalize.scss */
[hidden],
template {
  display: none; }

/* line 47, 1-tools/_normalize.scss */
a {
  background-color: transparent; }

/* line 51, 1-tools/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 56, 1-tools/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 60, 1-tools/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 65, 1-tools/_normalize.scss */
dfn {
  font-style: italic; }

/* line 69, 1-tools/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 74, 1-tools/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 79, 1-tools/_normalize.scss */
small {
  font-size: 80%; }

/* line 83, 1-tools/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 91, 1-tools/_normalize.scss */
sup {
  top: -0.5em; }

/* line 95, 1-tools/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 99, 1-tools/_normalize.scss */
img {
  border: 0; }

/* line 103, 1-tools/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 107, 1-tools/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 111, 1-tools/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 117, 1-tools/_normalize.scss */
pre {
  overflow: auto; }

/* line 121, 1-tools/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 129, 1-tools/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 139, 1-tools/_normalize.scss */
button {
  overflow: visible; }

/* line 143, 1-tools/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 148, 1-tools/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 156, 1-tools/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 161, 1-tools/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 167, 1-tools/_normalize.scss */
input {
  line-height: normal; }

/* line 171, 1-tools/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 177, 1-tools/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 182, 1-tools/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 189, 1-tools/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 194, 1-tools/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 200, 1-tools/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 205, 1-tools/_normalize.scss */
textarea {
  overflow: auto; }

/* line 209, 1-tools/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 213, 1-tools/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 218, 1-tools/_normalize.scss */
td,
th {
  padding: 0; }

/* line 1, 2-basics/_body-element.sass */
body {
  background-color: black;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/* line 1, 2-basics/_selection-colors.sass */
::selection {
  background: #FFF498; }

/* line 4, 2-basics/_selection-colors.sass */
::-moz-selection {
  background: #FFF498; }

/* line 7, 2-basics/_selection-colors.sass */
img::selection {
  background: transparent; }

/* line 10, 2-basics/_selection-colors.sass */
img::-moz-selection {
  background: transparent; }

/* line 13, 2-basics/_selection-colors.sass */
body {
  -webkit-tap-highlight-color: #FFF498; }

/* line 1, 2-basics/_links.sass */
a {
  color: #ddd;
  text-decoration: none;
  outline: 0; }
  /* line 6, 2-basics/_links.sass */
  afooter {
    text-decoration: underline; }
  /* line 10, 2-basics/_links.sass */
  a:hover, a:focus {
    color: #40a6ff; }

/* line 3, 2-basics/_typography.sass */
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold; }

/* line 8, 2-basics/_typography.sass */
.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

/* line 13, 2-basics/_typography.sass */
.huge, h1 {
  font-size: 50px;
  line-height: 1.05;
  margin-top: 0; }

/* line 19, 2-basics/_typography.sass */
.large, h2 {
  font-size: 35px;
  line-height: 1.14; }

/* line 23, 2-basics/_typography.sass */
.bigger, h3 {
  font-size: 20px;
  line-height: 1.38; }

/* line 27, 2-basics/_typography.sass */
.big, h4 {
  font-size: 18px;
  line-height: 1.38; }

/* line 32, 2-basics/_typography.sass */
#pricelist th {
  font-size: 18px;
  line-height: 2;
  text-align: left; }
/* line 36, 2-basics/_typography.sass */
#pricelist td {
  line-height: 1.5; }
/* line 39, 2-basics/_typography.sass */
#pricelist .priceinfo {
  padding-top: 20px; }

/* line 42, 2-basics/_typography.sass */
.small, small {
  font-size: 10px;
  line-height: 1.2; }

/* line 49, 2-basics/_typography.sass */
p {
  margin: 0 0 20px 0; }

/* line 52, 2-basics/_typography.sass */
em {
  font-style: italic; }

/* line 55, 2-basics/_typography.sass */
strong {
  font-weight: bold; }

/* line 58, 2-basics/_typography.sass */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* line 1, 2-basics/_example-buttons.sass */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  /* line 24, 2-basics/_example-buttons.sass */
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

/* line 1, 2-basics/_navigation.sass */
#pages {
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

/* line 6, 2-basics/_navigation.sass */
.toggle {
  position: fixed;
  right: 40px;
  top: 20px;
  bottom: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  cursor: pointer; }
  /* line 19, 2-basics/_navigation.sass */
  .toggle span {
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    height: 6px;
    background: white; }
    /* line 28, 2-basics/_navigation.sass */
    .toggle span::before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #fff;
      content: "";
      top: -11px; }
    /* line 38, 2-basics/_navigation.sass */
    .toggle span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #fff;
      content: "";
      bottom: -11px; }
    /* line 48, 2-basics/_navigation.sass */
    .toggle span:focus {
      outline: none; }
    /* line 50, 2-basics/_navigation.sass */
    .toggle span:hover {
      cursor: pointer; }
    /* line 53, 2-basics/_navigation.sass */
    .toggle span p {
      color: #111;
      font-size: 30px;
      width: 50px;
      height: 50px;
      z-index: 3; }

/* line 60, 2-basics/_navigation.sass */
nav {
  position: fixed;
  right: -190px;
  top: 0;
  bottom: 0;
  padding: 80px 40px 0 20px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 1; }
  /* line 70, 2-basics/_navigation.sass */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; }
    /* line 76, 2-basics/_navigation.sass */
    nav ul li a {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 15px;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      margin-left: 30px; }
      /* line 85, 2-basics/_navigation.sass */
      nav ul li a:hover {
        color: white; }

/* line 88, 2-basics/_navigation.sass */
#nav-toggle {
  display: none; }
  /* line 93, 2-basics/_navigation.sass */
  #nav-toggle:checked + #wrapper nav {
    right: 0; }
  /* line 100, 2-basics/_navigation.sass */
  #nav-toggle:checked + #wrapper .toggle {
    right: 38px; }
    /* line 103, 2-basics/_navigation.sass */
    #nav-toggle:checked + #wrapper .toggle span {
      transform: rotate(90deg); }
  /* line 106, 2-basics/_navigation.sass */
  #nav-toggle:checked + #wrapper p.footer {
    display: block; }

/* line 1, 2-basics/_helper.sass */
.no-height {
  height: 0; }

/* line 1, 2-basics/_content.sass */
.boxes {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, 1-tools/bourbon/addons/_clearfix.scss */
  .boxes::after {
    clear: both;
    content: "";
    display: table; }
  /* line 4, 2-basics/_content.sass */
  .boxes .box {
    background: red;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-top: 2.35%; }
    /* line 89, 1-tools/neat/grid/_span-columns.scss */
    .boxes .box:last-child {
      margin-right: 0; }
  /* line 11, 2-basics/_content.sass */
  .boxes .blue {
    background: blue; }
  /* line 13, 2-basics/_content.sass */
  .boxes .yellow {
    background: violet; }
  /* line 15, 2-basics/_content.sass */
  .boxes .green {
    background: pink; }

/* line 18, 2-basics/_content.sass */
.section #home {
  position: relative; }

/* line 21, 2-basics/_content.sass */
.hero-image {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 1, 2-basics/_footer.sass */
footer {
  background: black;
  position: fixed;
  width: 100%;
  height: 130px;
  left: 0;
  bottom: 0;
  z-index: 10; }
  /* line 10, 2-basics/_footer.sass */
  footer .footer-left {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0px 40px;
    z-index: 10; }
    /* line 17, 2-basics/_footer.sass */
    footer .footer-left h3 {
      line-height: 1.3;
      margin: 0 0 5px; }
    /* line 21, 2-basics/_footer.sass */
    footer .footer-left p {
      line-height: 1.2; }
  /* line 25, 2-basics/_footer.sass */
  footer .footer-right {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px 40px;
    z-index: 10; }
    /* line 33, 2-basics/_footer.sass */
    footer .footer-right a:hover {
      text-decoration: none; }

/* line 36, 2-basics/_footer.sass */
.social {
  height: 25px;
  vertical-align: -7px;
  opacity: 1; }
  /* line 41, 2-basics/_footer.sass */
  .social:hover {
    opacity: 0.6; }

/* line 44, 2-basics/_footer.sass */
.hide-for-large {
  display: none; }

/* line 2, 3-modules/_example-module-name-lockup.sass */
.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* line 13, 3-modules/_example-module-name-lockup.sass */
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

/* line 1, 3-modules/_example-fork-tag.sass */
.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #0074D9;
  color: white;
  padding: 2px 6px;
  transition: all 0.3s ease-in-out;
  transform-origin: top right; }
  /* line 11, 3-modules/_example-fork-tag.sass */
  .fork-tag:hover {
    color: white;
    animation: wiggle 0.4s linear 1; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-8deg); }
  80% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(0deg); } }
/* line 1, 3-modules/_example-flex-video.sass */
.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative; }

/* line 8, 3-modules/_example-flex-video.sass */
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

@-webkit-keyframes swing {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0); } }
@keyframes swing {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0); } }
/* line 29, 3-modules/_animation.sass */
.swing:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1; }

/* line 34, 3-modules/_animation.sass */
.rotate:hover {
  transform: rotateZ(-30deg); }

/* line 1, 4-pages/_example-page-home.sass */
html, body, #wrapper {
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 6, 4-pages/_example-page-home.sass */
body {
  overflow-x: hidden; }

/* line 10, 4-pages/_example-page-home.sass */
header {
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover; }

/* line 16, 4-pages/_example-page-home.sass */
h1.page-title {
  font-weight: 700;
  line-height: 0.8;
  margin: 20px 0;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: right;
  max-width: 100%;
  margin: 0;
  padding: 50px 40px;
  max-width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  letter-spacing: -2px; }
  /* line 35, 4-pages/_example-page-home.sass */
  h1.page-title span {
    font-weight: 700; }
  /* line 38, 4-pages/_example-page-home.sass */
  h1.page-title span.smaller {
    font-weight: 100;
    font-size: 35px; }

/* line 42, 4-pages/_example-page-home.sass */
section {
  background-color: black;
  position: relative;
  padding: 20px 0 100px;
  max-width: 1060px;
  margin: auto;
  height: auto;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  /* line 51, 4-pages/_example-page-home.sass */
  section img {
    max-width: 100%; }
  /* line 54, 4-pages/_example-page-home.sass */
  section .flex-video-wrap {
    max-width: 640px;
    display: inline-block;
    width: 100%; }
  /* line 59, 4-pages/_example-page-home.sass */
  section article {
    margin: auto;
    padding: 40px;
    background-color: #111; }
  /* line 65, 4-pages/_example-page-home.sass */
  section:last-child {
    margin-bottom: 0px; }

/* line 68, 4-pages/_example-page-home.sass */
#home {
  display: table;
  height: 100%;
  width: 100%;
  background: none;
  box-shadow: none; }

/* line 75, 4-pages/_example-page-home.sass */
#datenschutz {
  padding-bottom: 130px; }

/* line 3, 4-pages/_prices.sass */
#pricelist th {
  font-size: 18px;
  line-height: 2;
  text-align: left; }
/* line 8, 4-pages/_prices.sass */
#pricelist .th-alignright th {
  text-align: right; }
/* line 11, 4-pages/_prices.sass */
#pricelist td.td-alignleft {
  text-align: left; }
/* line 14, 4-pages/_prices.sass */
#pricelist td {
  line-height: 1.5;
  text-align: right; }
/* line 18, 4-pages/_prices.sass */
#pricelist .priceinfo {
  padding-top: 20px;
  text-align: left; }
/* line 22, 4-pages/_prices.sass */
#pricelist .plain {
  font-size: 14px; }

/* line 2, 4-pages/_story.sass */
.tab-header-and-content img {
  width: 60px;
  margin-left: 20px; }

/* line 6, 4-pages/_story.sass */
.salon-image-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, 1-tools/bourbon/addons/_clearfix.scss */
  .salon-image-container::after {
    clear: both;
    content: "";
    display: table; }

/* line 9, 4-pages/_story.sass */
.salon-image {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  margin-top: 2.35%; }
  /* line 89, 1-tools/neat/grid/_span-columns.scss */
  .salon-image:last-child {
    margin-right: 0; }

/* line 13, 4-pages/_story.sass */
div.tooltip-item {
  font-size: 50px;
  line-height: 1.05;
  font-weight: bold; }

/* line 18, 4-pages/_story.sass */
.slider {
  margin: -10px; }
  /* line 21, 4-pages/_story.sass */
  .slider div h3 {
    margin: 10px; }

@media only screen and (max-width: 800px) {
  /* line 3, 5-media-queries/_max-width-800.sass */
  .toggle {
    right: 20px; }

  /* line 6, 5-media-queries/_max-width-800.sass */
  nav {
    position: fixed;
    right: -100px;
    top: 0;
    bottom: 0;
    width: 110px;
    padding: 70px 20px 0 0; }
    /* line 14, 5-media-queries/_max-width-800.sass */
    nav ul {
      text-align: right; }
      /* line 17, 5-media-queries/_max-width-800.sass */
      nav ul li a {
        margin-left: 10px; }

  /* line 24, 5-media-queries/_max-width-800.sass */
  #nav-toggle:checked + #wrapper section {
    padding-right: 0; }
  /* line 27, 5-media-queries/_max-width-800.sass */
  #nav-toggle:checked + #wrapper .toggle {
    right: 18px; }

  /* line 30, 5-media-queries/_max-width-800.sass */
  .huge, h1 {
    font-size: 30px; }

  /* line 33, 5-media-queries/_max-width-800.sass */
  .large, h2 {
    font-size: 20px;
    line-height: 1.14; }

  /* line 37, 5-media-queries/_max-width-800.sass */
  .bigger, h3 {
    font-size: 18px;
    line-height: 1.38; }

  /* line 41, 5-media-queries/_max-width-800.sass */
  .big, h4 {
    font-size: 14px;
    line-height: 1.38; }

  /* line 45, 5-media-queries/_max-width-800.sass */
  h1.page-title, div.tooltip-item {
    padding-right: 20px; }

  /* line 48, 5-media-queries/_max-width-800.sass */
  section {
    padding-top: 0; }
    /* line 51, 5-media-queries/_max-width-800.sass */
    section article {
      padding: 20px; }

  /* line 54, 5-media-queries/_max-width-800.sass */
  .footer-left {
    padding-left: 20px !important; }

  /* line 57, 5-media-queries/_max-width-800.sass */
  .footer-right {
    padding-right: 20px !important; } }
@media only screen and (max-width: 480px) {
  /* line 3, 5-media-queries/_max-width-480.sass */
  .boxes .box {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    /* line 89, 1-tools/neat/grid/_span-columns.scss */
    .boxes .box:last-child {
      margin-right: 0; }

  /* line 9, 5-media-queries/_max-width-480.sass */
  body {
    font-size: 15px;
    line-height: 1.3; }

  /* line 14, 5-media-queries/_max-width-480.sass */
  #pricelist th {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    width: 150px;
    padding-right: 5px; }
  /* line 20, 5-media-queries/_max-width-480.sass */
  #pricelist td {
    line-height: 1.5;
    width: 55px; }
  /* line 24, 5-media-queries/_max-width-480.sass */
  #pricelist .priceinfo {
    padding-top: 20px;
    font-size: 80%; }

  /* line 29, 5-media-queries/_max-width-480.sass */
  .tab-header-and-content img {
    margin: 0 0 10px 0; }

  /* line 32, 5-media-queries/_max-width-480.sass */
  .tab-link {
    padding-right: 0; }

  /* line 35, 5-media-queries/_max-width-480.sass */
  .huge, h1 {
    font-size: 24px; }

  /* line 38, 5-media-queries/_max-width-480.sass */
  .large, h2 {
    font-size: 18px; }

  /* line 41, 5-media-queries/_max-width-480.sass */
  .social {
    height: 18px;
    vertical-align: -5px; }

  /* line 45, 5-media-queries/_max-width-480.sass */
  .toggle {
    width: 30px;
    height: 30px; }

  /* line 49, 5-media-queries/_max-width-480.sass */
  footer {
    height: 85px; }

  /* line 52, 5-media-queries/_max-width-480.sass */
  .footer-left {
    padding: 0 5px !important;
    margin: 2px 0;
    font-size: 80%; }
    /* line 56, 5-media-queries/_max-width-480.sass */
    .footer-left p {
      margin: 0 0 5px; }
    /* line 58, 5-media-queries/_max-width-480.sass */
    .footer-left h3 {
      margin: 2px 0 !important;
      font-size: 14px; }

  /* line 62, 5-media-queries/_max-width-480.sass */
  .footer-right {
    padding: 0 5px !important;
    margin: 5px 0;
    font-size: 80%; }
    /* line 67, 5-media-queries/_max-width-480.sass */
    .footer-right p {
      margin: 0 0 5px 0;
      text-align: right; }

  /* line 71, 5-media-queries/_max-width-480.sass */
  h1.page-title, div.tooltip-item {
    font-size: 26px;
    padding: 45px 5px; }
    /* line 75, 5-media-queries/_max-width-480.sass */
    h1.page-title span.smaller, div.tooltip-item span.smaller {
      font-size: 18px; }

  /* line 78, 5-media-queries/_max-width-480.sass */
  .hide-for-small {
    display: none; }

  /* line 81, 5-media-queries/_max-width-480.sass */
  .hide-for-large {
    display: block; } }
/* Landscape iPhone 6+ */
@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* line 3, 5-media-queries/_landscape-media-queries.sass */
  footer {
    height: 90px; }

  /* line 6, 5-media-queries/_landscape-media-queries.sass */
  .hero-image {
    max-width: 48%; }

  /* line 9, 5-media-queries/_landscape-media-queries.sass */
  .footer-left {
    padding: 0 5px !important;
    margin: 2px 0;
    font-size: 80%; }
    /* line 13, 5-media-queries/_landscape-media-queries.sass */
    .footer-left p {
      margin: 0 0 5px; }
    /* line 15, 5-media-queries/_landscape-media-queries.sass */
    .footer-left h3 {
      margin: 2px 0 !important;
      font-size: 14px; }

  /* line 19, 5-media-queries/_landscape-media-queries.sass */
  .footer-right {
    padding: 0 5px !important;
    margin: 5px 0;
    font-size: 80%; }
    /* line 24, 5-media-queries/_landscape-media-queries.sass */
    .footer-right p {
      margin: 0;
      text-align: right; }

  /* line 28, 5-media-queries/_landscape-media-queries.sass */
  h1.page-title, div.tooltip-item {
    font-size: 26px;
    padding: 50px 5px; }
    /* line 32, 5-media-queries/_landscape-media-queries.sass */
    h1.page-title span.smaller, div.tooltip-item span.smaller {
      font-size: 18px; } }
/* Landscape iPhone 5 - 6 */
@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 37, 5-media-queries/_landscape-media-queries.sass */
  .hero-image {
    max-width: 48%; }

  /* line 40, 5-media-queries/_landscape-media-queries.sass */
  footer {
    height: 90px; }

  /* line 43, 5-media-queries/_landscape-media-queries.sass */
  .footer-left {
    padding: 0 5px !important;
    margin: 2px 0;
    font-size: 80%; }
    /* line 47, 5-media-queries/_landscape-media-queries.sass */
    .footer-left p {
      margin: 0 0 5px; }
    /* line 49, 5-media-queries/_landscape-media-queries.sass */
    .footer-left h3 {
      margin: 2px 0 !important;
      font-size: 14px; }

  /* line 53, 5-media-queries/_landscape-media-queries.sass */
  .footer-right {
    padding: 0 5px !important;
    margin: 5px 0;
    font-size: 80%; }
    /* line 58, 5-media-queries/_landscape-media-queries.sass */
    .footer-right p {
      margin: 0;
      text-align: right; }

  /* line 62, 5-media-queries/_landscape-media-queries.sass */
  h1.page-title, div.tooltip-item {
    font-size: 26px;
    padding: 50px 5px; }
    /* line 66, 5-media-queries/_landscape-media-queries.sass */
    h1.page-title span.smaller, div.tooltip-item span.smaller {
      font-size: 18px; } }
/* Landscape iPhone4 and 4S */

/*# sourceMappingURL=main.css.map */
